@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(./fonts/Rubik/Rubik-Light.ttf) format('truetype');
}
.App {
  text-align: center;
  font-family: 'Rubik';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 44px;
  /* padding: 20px; */
  color: white;
  position: fixed;
  width: 100%;
}

.nav-item-container {
  width: 100%;
  display: flex;
  margin-right: 100px;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav-item {
  font-size: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
